html,body{
    background: #fff;
}
.imgthumb img{
    max-width: 40px;
    max-height: 40px;
}
img{
    width: 100%;
}
.strike{
    text-decoration: line-through;
}
.bg404{
    background: url("default/img/error404.jpg") no-repeat center;
    display: block;
    width: 600px;
    height: 450px;
    margin: 0 auto;
}
